<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">

<!-- Compiled and minified CSS -->
</head>

<body>
    <form method="POST" action = "">{% csrf_token %}

            <p>Select city</p> {{ form.cities}}
            <br><br>
            <input type="submit" value="Submit!"/>

    </form>

    <form method="POST" action = "">{% csrf_token %}

            <p>Select food category</p> {{ form.food_categories}}
            <br><br>
            <input type="submit" value="Submit!"/>

    </form>
</body>
</html>
